html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.rowOne:after, .rowTwo:after, .rowThree:after, .rowFour:after, .rowFive:after {
    content: "";
    display: table;
    clear: both;
}


.column{
    float: left;
    padding: 10px;
    border: black solid .1em;
    max-width: 100%;
}

/* +++++++++++++++ FIRST ROW +++++++++++++++*/
.column.one-half:nth-child(even){
    background-color: red;
    margin: 1em 0;
    color: white;
    width: 50%;
}
.column.one-half:nth-child(odd){
    background-color: red;
    margin: 1em 0;
    color: white;
    width: 50%;
}
/* +++++++++++++++ SECOND ROW +++++++++++++++*/
.column.one-third:nth-child(odd){
    background-color: blue;
    margin: 1em 0;
    color: white;
    width: 33.3%;
}
.column.one-third:nth-child(even) {
    background-color: blue;
    color: white;
    margin: 1em 0;
    width: 33.3%;
}
/* +++++++++++++++ THIRD ROW +++++++++++++++*/
.column.one-fourth:nth-child(even){
    background-color: deeppink;
    margin: 1em 0;
    color: white;
    width: 25%;
}
.column.one-fourth:nth-child(odd) {
    background-color: deeppink;
    margin: 1em 0;
    color: white;
    width: 25%;
}
/* +++++++++++++++ FOURTH ROW +++++++++++++++*/
.column.one-eight:nth-child(even){
    background-color: darkorange;
    margin: 1em 0;
    color: white;
    width: 12.5%;
}
.column.one-eight:nth-child(odd) {
    background-color: darkorange;
    color: white;
    margin: 1em 0;
    width: 12.5%;
}

/* +++++++++++++++ FINAL ROW +++++++++++++++*/
.column.oneEight:nth-child(even){
    background-color: darkorange;
    margin: 1em 0;
    /*color: white;*/
    width: 12.5%;
}
.column.oneEight:nth-child(odd) {
    background-color: darkorange;
    margin: 1em 0;
    /*color: white;*/
    width: 12.5%;
}
.column.mixedFourth:nth-child(odd) {
    background-color: deeppink;
    margin: 1em 0;
    /*color: white;*/
    width: 25%;
}
.column.threeFourth{
    background-color: red;
    margin: 1em 0;
    color: white;
    width: 75%;
}

 /*I KNOW UNDERSTAND THE BORDER-BOX CONCEPT BUT STILL NOT CLEAR WHAT THE SECOND HALF OF THE ASSIGNMENT IS REQUESTING OF ME REGARDING REFACTORING GRID VIA HTML*/

