/* ++++++++++++++++++++++ DEVICES > 900px ++++++++++++++++++++*/

@media screen and (min-width: 900px) {
    body {
        max-width: 900px;
        margin: auto;
    }

    #skip{
        display: none;
    }

    .nav-links {
        list-style: none;
        float: right;
        margin-top: -50px;
        display: inline-flex;
        text-decoration: none;
    }

    .nav-links a{
        text-decoration: none;
    }

    li:nth-child(n+2) {
        margin-left: 15px;
    }

    .main {
        /*width: 61%;*/
        margin-left: 10px;
    }

    img {
        /*width: 100%;*/
    }

    .sub-section {
        /*width: 30%;*/
        float: right;
        display: inline-block;
        margin-top: -130px;
        margin-right: 35px;
    }

    footer {
        margin-top: 29%;
        height: 38px;
    }
    #social-media-links p{
        float: left;
    }
    #social-media-links img{
        height: 1.5em !important;
        float: right;
    }
}

/* ++++++++++++++++++++++ DEVICES < 900px && DEVICES > 620px ++++++++++++++++++++*/

@media screen and (max-width:900px) and (min-width:620px) {
    body {
        max-width: 900px;
        margin: auto;
    }

    #skip{
        display: none;
    }

    img {
        /*max-width: 100%;*/
        height: auto;
    }

    .nav-links {
        list-style: none;
        float: right;
        margin-top: -50px;
        display: inline-flex;
        text-decoration: none;
    }

    .nav-links a {
        text-decoration: none;
    }

    li:nth-child(n+2) {
        margin-left: 15px;
    }

    .main {
        /*width: 61%;*/
        margin-left: 10px;
    }

    .sub-section {
        /*width: 30%;*/
        float: right;
        display: inline-block;
        margin-top: -154px;
        margin-right: 35px;
    }

    footer {
        margin-top: 29%;
        height: 38px;
    }

    #social-media-links p {
        float: left;
    }

    #social-media-links img {
        height: 1.5em !important;
        float: right;
    }
}


/*+++++++++++++++++++++ DEVICES < 620px && DEVICES > 541px +++++++++++++++++++*/

@media screen and (max-width:620px) and (min-width:541px) {
    body {
        max-width: 620px;
        margin: auto;
    }

    #skip{
        display: none;
    }

    .nav-links {
        list-style: none;
        float: right;
        margin-top: -50px;
        display: inline-flex;
        text-decoration: none;
    }

    .nav-links a {
        text-decoration: none;
    }

    li:nth-child(n+2) {
        margin-left: 15px;
    }

    .main {
        /*width: 57%;*/
        margin-left: 10px;
    }

    #surfer {
        /*max-width: 100%;*/
        width: 100%;
    }

    .sub-section {
        /*width: 30%;*/
        float: right;
        display: inline-block;
        margin-top: -172px;
        margin-right: 35px;
    }

    footer {
        margin-top: 29%;
        height: 38px;
    }

    #social-media-links p {
        float: left;
    }

    #social-media-links img {
        height: 1.5em !important;
        float: right;
    }
}



/*+++++++++++++++++++++ DEVICES < 541px && DEVICES > 470px +++++++++++++++++++*/


@media screen and (max-width:541px) and (min-width:470px) {
    body {
        max-width: 541px;
        margin: auto;
    }

    #skip{
        display: none;
    }

    .nav-links {
        list-style: none;
        float: right;
        margin-top: -50px;
        display: inline-flex;
        text-decoration: none;
    }

    .nav-links a {
        text-decoration: none;
    }

    li:nth-child(n+2) {
        margin-left: 15px;
    }

    .main {
        /*width: 47%;*/
        margin-left: 10px;
    }

    #surfer {
        /*max-width: 100%;*/
        width: 100%;
    }

    .sub-section {
        /*width: 30%;*/
        float: right;
        display: inline-block;
        margin-top: -210px;
        margin-right: 35px;
    }

    footer {
        margin-top: 29%;
        height: 38px;

    }

    #social-media-links p {
        float: left;
    }

    #social-media-links img {
        height: 1.5em !important;
        float: right;
    }
}

/*+++++++++++++++++++++ DEVICES < 470px +++++++++++++++++++*/

@media screen and (max-width:469px) {
    body {
        max-width: 470px;
    }

    .alert-info {
        text-align: center;
        padding: 25px;
        margin: 1em .2em;
        border: solid #cbcbcb .1em;
        background-color: #c0ffff;
    }

    .alert-info a {
        text-decoration: none;
        font-family: Arial, serif;
    }

    /* unvisited link */
    .alert-info a:link {
        color: black;
    }

    /* visited link */
    .alert-info a:visited {
        color: orange;
    }

    /* mouse over link */
    .alert-info a:hover {
        color: red;
    }

    /* selected link */
    .alert-info a:active {
        color: yellow;
    }

    h1 {
        margin: auto 0;
        position: relative;
        left: 19%;
        font-size: 3.4em;
        font-family: Arial, serif;
        font-weight: normal;
    }

    .nav-links {
        list-style: none;
        /*float: right;*/
        /*margin-top: -50px;*/
        /*display: inline-flex;*/
    }

    .nav-links {
        margin: 0em .5em 0 -2em;
    }

    .nav-links li {
        text-align: center;
        background-color: #cccccc;
        margin: 1em 0;
        padding-top: .5em;
        height: 2em
    }

    .nav-links a {
        text-decoration: none;
    }

    /*li:nth-child(n+2) {*/
    /*margin-left: 15px;*/
    /*}*/
    #surfer {
        /*max-width: 100%;*/
        width: 100%;
    }

    .column.threeFourth, .column.one-fourth{
        width: 100% !important;
        /*margin: 0;*/
    }


    footer {
        position: relative;
        top: 100px;
        height: 25px;
    }

    #social-media-links p {
        float: left;
    }

    #social-media-links img {
        height: 1.5em !important;
        float: right;
    }
}
