body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root{
    --bg-info: rgb(225, 225, 225);
    --text-info: rgb(207, 243, 218);
    --bg-success: rgb(252, 251, 201);
    --text-success: rgb(249, 212, 215);
    --txt-info: rgb(62, 54, 151);
    --txt-success: rgb(47, 107, 54);
    --txt-warning: rgb(144, 126, 40);
    --txt-error: rgb(127, 28, 46);
}

.message{
    /*color: rgb(88, 80, 170);*/
    border-radius: 10px;
    margin: 10px;
    height: 20px;
    padding: 20px 0px 16px 10px;
    font-weight: lighter;
    border: 1px solid rgb(225, 225, 225);
}

.message-info {
    background-color: var(--bg-info);
    color: var(--txt-info);
}

.message-success {
    background-color: var(--text-info);
    color: var(--txt-success);
}

.message-warning {
    background-color: var(--bg-success);
    color: var(--txt-warning);
}

.message-error {
    background-color: var(--text-success);
    color: var(--txt-error);
}

/*bg-info, text-info, bg-success, text-success*/